<h1>Mis Eventos</h1>
<p>
    <a href="{% url "events:new" %}">Agregar evento</a>
</p>
<ul>
    {% for event in object_list %}
        <li>
            <p>{{ event.name }}</p>
            <p>
                <a href="{% url "events:detail" event.id %}">Ver</a> | 
                
                <a href="{% url "events:delete" event.id %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>