#bg{
	background-size: 1800px 900px;
 	background-repeat: no-repeat;
 	background-position: top;
 	background-attachment: fixed;
}

#formulario{
	padding: 1px 0 1px 0;
	cursor: pointer;
	display: block;
	margin: auto;
	text-align: center;
	
}

#imaginary_container{
  
}
.stylish-input-group .input-group-addon{
    background: white;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
    
}
.navbar-brand{
    position: absolute;
    width: 100%;
    left: 5;
    text-align: left;
    margin:0 auto;
}

.navbar-toggle {
    z-index:3;
}

h1{
	color: white;
}
h2  {
	color: white;
}

h1, h2, h3 {
	
	
	text-align: center;
}

h6 {
	color: rgb(0, 191, 255);
}

p{
	text-align: justify;
	margin: auto;
	width: 500px;
	color: white;
}

.fondo_texto{
	background-color: rgba(0, 0, 0, 0.3);
	
	margin: auto;
	width: 500px;
}

