<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>   
<body>
<center><h1 class="animated zoomInDown" style="font-size: 50px; font-family: Roboto; text-align: center; color: #eee; text-shadow: 1px 1px #303F9F, 2px 2px #303F9F, 3px 3px #303F9F, 4px 4px #303F9F, 5px 5px #303F9F, 6px 6px #303F9F, 7px 7px #303F9F, 8px 8px #303F9F, 9px 9px #303F9F,
    10px 10px #303F9F; margin-top: 5px;">MIS EVENTOS</h1></center><br><br>    

<br>
<ul>
    {% if user.is_authenticated %}
    {% for evento in evento_list %}
    {% if evento.usuario == user%}
         
            <li>
        
                <p>{{ evento.nombre|upper }}</p>
       
                <p>
                    <a href="{% url "eliminar_evento" evento.id %}">Borrar</a> 
                </p>
            </li>
    {% endif %}    
    {% endfor %}
    {% endif %}
</ul><br>

<center><p>
   <a href="{% url "crear_evento" %}">>>>Agregar Evento<<<</a>
</p><br>
<a href={% url "home_auth" %}>Volver</a></center>

</body> 
</html>

