<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
  <link rel="stylesheet" href="/static/css/estilos.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<title>Mis eventos</title>
</head>
<body>
<center><h1 class="animated zoomInDown" style="font-size: 50px; font-family: Roboto; text-align: center; color: #eee; text-shadow: 1px 1px #303F9F, 2px 2px #303F9F, 3px 3px #303F9F, 4px 4px #303F9F, 5px 5px #303F9F, 6px 6px #303F9F, 7px 7px #303F9F, 8px 8px #303F9F, 9px 9px #303F9F,
    10px 10px #303F9F; margin-top: 5px;">CREAR EVENTO :)</h1></center><br><br>  	
<center><form class="formulario" method="post" enctype='multipart/form-data'>{% csrf_token %}
  Nombre:<br>
  <input type="text" name="nombre" placeholder="nombre del evento"><br>
  Descripción:<br>
  <input type="text" name="desc" placeholder="Describe el evento"><br>
  Fecha:<br>
  <input type="date" name="fecha" value=""><br>
  Hora:<br>
  <input name="hora" type="time"></input><br>
  Ciudad:<br>
  <select name="ciudad">
  	{% for ciudad in data %}
  		<option value="{{ciudad.pk}}">{{ciudad.nombre}}</option>
  	{% endfor%}
  </select><br>
  Lugar:<br>
  <input name="lugar" type="text" placeholder="Lugar del evento"></input><br>
  Imagen:<br>
  <input name="imagen" type="file"><br><br>
  <input type="submit" value="Guardar">
</form>
<br>
<a href="/eventos/">>>>Volver<<<</a></center>
</body>
</html>
