<form method="post">{% csrf_token %}
¿Estás seguro que deseas borrar la tarea "{{ eventos.nombre }}"?
<input type="submit" value="Aceptar" />
</form>
<p>
<a href="{% url "eventos:list" %}">Regresar</a>
</p>