<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/Events.css">

	<title>{% block title %}Tenemos eventos para ti{% endblock %}</title>
	
</head>
<body id="bg" style="background-image: url(/static/img/ff.jpg)";>  
    <nav class="navbar navbar-default">
    {% block usertools %}
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Events.co</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/eventos/">¡Publicar un Evento!</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    {% endblock %}
    </nav>

    {% block content %}
    <div class="text-center">
        <img src="/static/img/final.jpg"  alt="Hola :)" width="700" height="300">
    
    </div>
     <br>
    <form action="/busqueda" method="GET">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            
                            <input name="q" id="buscador" type="text" class="form-control"  placeholder="Escribe el nombre de una ciudad :)" style="width:100%; height:40px; font-size:18px">
                            <span class="input-group-addon">
                                <button type="submit" style="width:50px; height:0px">
                                    <span class="glyphicon glyphicon-search"></span>
                                 </button> 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
   
    <h1>Próximos eventos:</h1>  
    {% for evento in eventos %}
        <h2>{{ evento.nombre }}</h2>
        <p><img src="{{ evento.imagen.url}}" style="width:499px; height:200px;" class="img-responsive"></p>
        <br>
        <p><b>Descripción: </b>{{ evento.descripcion }}</p>
        <p><b>Fecha: </b>{{ evento.fecha }}</p>
        <p><b>Hora: </b>{{ evento.hora }}</p>
        <p><b>Lugar: </b>{{ evento.lugar }}</p>
        <p><b>Ciudad: </b>{{ evento.ciudad }}</p>
    {% endfor %}
    {% endblock %}
    <br><br><br><br>
    {% block footer %}
    <nav class="navbar navbar-default  navbar-fixed-bottom" role="navigation">
        <div class="container text-center">
            <p class="navbar-text col-md-12 col-sm-12 col-xs-12">Events.co 2017 &copy; </p>
        </div>
    </nav>
    
    </div>
    {% endblock %}

	{% block js %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous">
    </script>
    {% endblock %}
   
</body>
</html>