﻿<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="/static/css/animate.css">
	<link rel="stylesheet" href="/static/css/estilos.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<title>| EVENTS | LOGIN |</title>
</head>
<body>
	<center><h1 class="animated zoomInDown" style="font-size: 50px; font-family: Roboto; text-align: center; color: #eee; text-shadow: 1px 1px #303F9F, 2px 2px #303F9F, 3px 3px #303F9F, 4px 4px #303F9F, 5px 5px #303F9F, 6px 6px #303F9F, 7px 7px #303F9F, 8px 8px #303F9F, 9px 9px #303F9F,
    10px 10px #303F9F; margin-top: 5px;">LOGIN EVENTS</h1></center>
	<div class="contenedor-formulario animated flipInX">
		<div class="wrap">
		{% block content %}
			<form class="formulario" method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
				<div>
					<div class="input-group">
						<input placeholder="Usuario" type="text" id="id_username" name="username" required="El campo contraseña es obligatorio" autocomplete="off">
					</div>
					<div class="input-group">
						<input placeholder="Contraseña" type="password" id="id_password" name="password" required="El campo contraseña es obligatorio" autocomplete="off">
					</div>
					<input type="submit" value="Ingresar">
        			<input type="hidden" name="next" value="{{ next }}">
				</div>
				{% if form.errors %}
        		<p style="text-align: center; color: #333;">Su nombre de usuario y contraseña no coinciden. Por favor, inténtelo de nuevo.</p>
        		{% endif %}
			</form>
		{% endblock  %}	
		</div>
	</div>

	<script src="/static/js/formulario.js"></script>
</body>
</html>